{{page-title "ComposableExample"}}

<button class="click-me-1" {{on "click" (queue this.func1 this.func2 this.func3)}}>BUTTON1</button>

<button class="click-me-2" {{on "click" (queue this.func1 this.asyncFunc2 this.func3)}}>BUTTON2</button>

{{outlet}}
